@import '../../../../styles/_variables';
@import './notifications-buttons';

.logged-user {
  align-items: center;
  display: flex;
  margin-right: 10px;
  padding-right: 12px;

  .user-image-wrapper {
    margin-right: 10px;
    width: 40px;

    app-preload-image {
      .user-image {
        border-radius: 50%;
        width: 100%;
      }
    }
  }

  .user-name {
    color: $white;
  }
}

app-top-navbar-content {
  align-items: center;
  display: flex;
  height: 60px;
  position: relative;
  width: 100%;
  z-index: 5;

  .branding-col {
    align-items: center;
    display: flex;
    max-width: $side-menu-width;
    padding: 10px $separation;
    position: relative;

    .menu-toggle {
      bottom: 0;
      padding-right: 12px;
      position: absolute;
      top: 0;
      transition: left .2s;
      width: 36px;

      .fa {
        font-size: 20px;
      }

      &.menu-hidden {
        left: -14px;

        &:not(:focus) {
          &:hover {
            left: -6px;
          }
        }
      }

      &.menu-visible {
        left: -6px;

        &:not(:focus) {
          &:hover {
            left: -14px;
          }
        }

        .fa {
          color: $red2;
        }
      }
    }

    .brand-wrapper {
      margin-left: 30px;
    }

    .brand-logo {
      height: 40px;
    }

    .brand-name {
      color: $white;
      display: inline-block;
      font-size: $font-size-sm;
      font-weight: 500;
      letter-spacing: 2.5px;
      margin: 0;
      margin-left: 6px;
    }
  }

  app-search-bar {
    max-width: 45%;
    padding-left: 30px;
    position: relative;
    width: 750px;
  }

  .actions-wrapper {
    align-items: center;
    display: flex;
    margin-left: auto;
  }

  @media only screen and (max-width: $top-navbar-breakpoint) {
    .logged-user {
      margin-right: 0;

      .user-image-wrapper {
        margin-right: 0;
      }

      .user-name {
        display: none;
      }
    }

    app-search-bar {
      margin-right: 10px;
      padding-left: 0;
    }

    .branding-col {
      .brand-wrapper {
        margin-left: 10px;
        margin-right: 0;

        .brand-name {
          display: none;
        }
      }
    }
  }
}

.messages {
  &.mat-menu-panel {
    border-radius: 5px;
    max-width: none;
  }

  .mat-menu-content {
    padding: 0;
  }

  header {
    background-color: $pink2;
    color: $white;
    letter-spacing: $letter-spacing-xxxs;
    padding: 8px 0;
    text-align: center;

    h5 {
      margin: 0;
    }
  }

  .message {
    cursor: pointer;
    padding: 20px 0;

    &:hover {
      background-color: $beige;
    }

    &.message-new {
      background-color: $pink3;

      &:hover {
        background-color: $beige;
      }
    }

    .message-image {
      border-radius: 50%;
      float: left;
      height: 58px;
      margin-right: 22px;
      width: 58px;
    }

    .message-content {
      float: left;
      margin-right: 20px;

      .message-user {
        color: $purple;
        font-size: $font-size-sm;
        letter-spacing: $letter-spacing-sm;
        margin: 0;
      }

      .message-title {
        color: $grey8;
        font-size: $font-size-sm;
        letter-spacing: $letter-spacing-md;
        margin: 0;
      }

      .message-text {
        color: $grey;
        font-size: $font-size-xs;
        letter-spacing: $letter-spacing-md;
      }
    }

    .message-time {
      color: $grey;
      float: right;
      font-size: $font-size-xs;
      letter-spacing: $letter-spacing-lg;

      &.message-time-now {
        color: $purple;
      }
    }
  }

  .messages-divider {
    margin: 0 -15px;
  }

  footer {
    padding: 10px 0;

    a {
      color: $grey;
      font-size: $font-size-xs;
      font-weight: bold;
      letter-spacing: $letter-spacing-xs;
    }
  }
}
