@import '../../../styles/_variables';

.mat-snack-bar-container {
  &.notification-wrapper {
    background: none;
  }
}

.notification {
  &.alert {
    background-color: $aqua;
    border: 0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
    color: $white;
    font-size: $font-size-xs;
    letter-spacing: $letter-spacing-xxs;
    min-width: 300px;

    .notification-icon {
      color: $white;
      font-size: 20px;
      line-height: 12px;
      margin-right: 30px;
      vertical-align: middle;
    }

    &.alert-dismissible {
      .close {
        opacity: .5;

        &:hover {
          opacity: 1;
        }

        .fa {
          color: $white;
        }
      }
    }

    &.alert-info {
      background-color: $blue;
    }

    &.alert-success {
      background-color: $skyblue;
    }

    &.alert-warning {
      background-color: $orange;
    }

    &.alert-danger {
      background-color: $red;
    }

    &.alert-dark {
      background-color: $grey;
    }

    .notification-line ~ .notification-text {
      margin-top: 15px;
    }
  }

}
