<div class="row">
  <div class="col-md-6">
    <div class="card card-tabs">
      <mat-tab-group disableRipple class="tabs-background">
        <mat-tab label="TODAY">
          <p class="tab-content-text">
            At vero eos et accusamus et iusto odio dignissimos ducimus qui
            blanditiis praesentium voluptatum deleniti atque corrupti quos dolores
            et quasimus qui blanditiis praesentium voluptatum dele. At vero eos et
            accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
            voluptatum deleniti atque corrupti quos dolores et quasimus qui
            blanditiis praesentium voluptatum dele. At vero eos et accusamus et
            iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
            deleniti atque corrupti quos dolores et quasimus qui blanditiis
            praesentium voluptatum dele.
          </p>
        </mat-tab>
        <mat-tab label="NOTIFICATIONS">
          <p class="tab-content-text">
            At vero eos et accusamus et iusto odio dignissimos ducimus qui
            blanditiis praesentium voluptatum deleniti atque corrupti quos dolores
            et quasimus qui blanditiis praesentium voluptatum dele. At vero eos et
            accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
            voluptatum deleniti atque corrupti quos dolores et quasimus qui
            blanditiis praesentium voluptatum dele. At vero eos et accusamus et
            iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
            deleniti atque corrupti quos dolores et quasimus qui blanditiis
            praesentium voluptatum dele.
          </p>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card card-no-padding card-tabs">
      <mat-tab-group disableRipple [@.disabled]="true" class="tabs-folder">
        <mat-tab label="TODAY">
          <h2 class="tab-content-title">The today text</h2>
          <p class="tab-content-text">
            At vero eos et accusamus et iusto odio dignissimos ducimus qui
            blanditiis praesentium voluptatum deleniti atque corrupti quos dolores
            et quasimus qui blanditiis praesentium voluptatum dele. At vero eos et
            accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
            voluptatum deleniti atque corrupti quos dolores et quasimus qui
            blanditiis praesentium voluptatum dele. At vero eos et accusamus et
            iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
            deleniti atque corrupti quos dolores et quasimus qui blanditiis
            praesentium voluptatum dele.
          </p>
        </mat-tab>
        <mat-tab label="NOTIFICATIONS">
          <h2 class="tab-content-title">The notifications text</h2>
          <p class="tab-content-text">
            At vero eos et accusamus et iusto odio dignissimos ducimus qui
            blanditiis praesentium voluptatum deleniti atque corrupti quos dolores
            et quasimus qui blanditiis praesentium voluptatum dele. At vero eos et
            accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
            voluptatum deleniti atque corrupti quos dolores et quasimus qui
            blanditiis praesentium voluptatum dele. At vero eos et accusamus et
            iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
            deleniti atque corrupti quos dolores et quasimus qui blanditiis
            praesentium voluptatum dele.
          </p>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="card card-no-padding card-tabs">
      <mat-tab-group disableRipple [@.disabled]="true" class="tabs-vertical">
        <mat-tab label="TRAVEL" *ngFor="let n of [1, 2, 3, 4, 5, 6, 7, 8]">
          <div class="tab-content-wrapper">
            <h2 class="tab-content-title">{{ n }}. The intelectual text</h2>
            <p class="tab-content-text">
              At vero eos et accusamus et iusto odio dignissimos ducimus qui
              blanditiis praesentium voluptatum deleniti atque corrupti quos dolores
              et quasimus qui blanditiis praesentium voluptatum dele. At vero eos et
              accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
              voluptatum deleniti atque corrupti quos dolores et quasimus qui
              blanditiis praesentium voluptatum dele. At vero eos et accusamus et
              iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
              deleniti atque corrupti quos dolores et quasimus qui blanditiis
              praesentium voluptatum dele.
            </p>
          </div>
          <div class="tab-content-wrapper">
            <img class="img-responsive tab-content-img" src="../../../../assets/imgs/tabs/tab1.jpeg" alt="tab-img">
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="card card-tabs">
      <mat-tab-group disableRipple class="tabs-simple">
        <mat-tab label="CHARTS" *ngFor="let n of [0, 1, 2, 3]">
          <div class="tab-content-wrapper">
            <h2 class="tab-content-title">The intelectual text</h2>
            <p class="tab-content-text">
              At vero eos et accusamus et iusto odio dignissimos ducimus qui
              blanditiis praesentium voluptatum deleniti atque corrupti quos dolores
              et quasimus qui blanditiis praesentium voluptatum dele. At vero eos et
              accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
              voluptatum deleniti atque corrupti quos dolores et quasimus qui
              blanditiis praesentium voluptatum dele. At vero eos et accusamus et
              iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
              deleniti atque corrupti quos dolores et quasimus qui blanditiis
              praesentium voluptatum dele.
            </p>
          </div>
          <div class="tab-content-wrapper">
            <p class="tab-content-text">
              At vero eos et accusamus et iusto odio dignissimos ducimus qui
              blanditiis praesentium voluptatum deleniti atque corrupti quos dolores
              et quasimus qui blanditiis praesentium voluptatum dele. At vero eos et
              accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
              voluptatum deleniti atque corrupti quos dolores et quasimus qui
              blanditiis praesentium voluptatum dele. At vero eos et accusamus et
              iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
              deleniti atque corrupti quos dolores et quasimus qui blanditiis
              praesentium voluptatum dele.
            </p>
          </div>
          <div class="tab-content-wrapper" *ngIf="isBrowser">
            <canvas baseChart
              [data]="data.pieChart.data"
              [labels]="data.pieChart.labels"
              [options]="data.pieChart.options"
              [chartType]="data.pieChart.type"
              [colors]="data.pieChart.colors">
            </canvas>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
