<div class="grid grid-0">
  <div class="col-xs-12">
    <h2 class="grid-title">Grid 1</h2>
  </div>
  <div class="card card-1"></div>
  <div class="flex-container flex-container-half">
    <div class="card card-2"></div>
    <div class="flex-container flex-container-full">
      <div class="flex-container flex-container-half">
        <div class="flex-container flex-container-full">
          <div class="card card-5"></div>
          <div class="flex-container flex-container-half">
            <div class="card card-6"></div>
            <div class="card card-7"></div>
          </div>
        </div>
        <div class="card card-4"></div>
      </div>
      <div class="card card-3"></div>
    </div>
  </div>
</div>

<div class="row grid grid-1">
  <div class="col-xs-12">
    <h2 class="grid-title">Grid 2</h2>
  </div>
  <div class="col-xs-8">
    <div class="card card-1"></div>
    <div class="card card-2"></div>
  </div>
  <div class="col-xs-4">
    <div class="card card-3"></div>
  </div>
</div>

<div class="row grid grid-2">
  <div class="col-xs-12">
    <h2 class="grid-title">Grid 3</h2>
  </div>
  <div class="col-xs-6">
    <div class="card card-1"></div>
    <div class="card card-2"></div>
  </div>
  <div class="col-xs-6">
    <div class="card card-3"></div>
  </div>
</div>

<div class="row grid grid-3">
  <div class="col-xs-12">
    <h2 class="grid-title">Grid 4</h2>
  </div>
  <div class="col-xs-3">
    <div class="card card-1"></div>
    <div class="card card-2"></div>
    <div class="card card-3"></div>
  </div>
  <div class="col-xs-9">
    <div class="card card-4"></div>
  </div>
</div>

<div class="row grid grid-4">
  <div class="col-xs-12">
    <h2 class="grid-title">Grid 5</h2>
  </div>
  <div class="col-xs-6">
    <div class="card card-1"></div>
  </div>
  <div class="col-xs-6">
    <div class="card card-2"></div>
  </div>
</div>

<div class="row grid grid-5">
  <div class="col-xs-12">
    <h2 class="grid-title">Grid 6</h2>
  </div>
  <div class="col-xs-6">
    <div class="card card-1"></div>
    <div class="card card-2"></div>
    <div class="card card-3"></div>
  </div>
  <div class="col-xs-6">
    <div class="card card-4"></div>
  </div>
</div>

<div class="row grid grid-6">
  <div class="col-xs-12">
    <h2 class="grid-title">Grid 7</h2>
  </div>

  <div class="col-xs-6">
    <div class="card card-1"></div>
  </div>
  <div class="col-xs-6">
    <div class="card card-2"></div>
  </div>

  <div class="col-xs-3">
    <div class="card card-3"></div>
  </div>
  <div class="col-xs-9">
    <div class="card card-4"></div>
  </div>

  <div class="col-xs-12">
    <div class="card card-5"></div>
  </div>

</div>

<div class="row grid grid-7">
  <div class="col-xs-12">
    <h2 class="grid-title">Grid 8</h2>
  </div>

  <div class="col-xs-12">
    <div class="card card-1"></div>
  </div>

  <div class="col-xs-4">
    <div class="card card-2"></div>
  </div>
  <div class="col-xs-8">
    <div class="card card-3"></div>
  </div>

  <div class="col-xs-12">
    <div class="card card-4"></div>
  </div>

</div>

<div class="row grid grid-8">
  <div class="col-xs-12">
    <h2 class="grid-title">Grid 9</h2>
  </div>
  <div class="col-xs-4">
    <div class="card card-1"></div>
  </div>
  <div class="col-xs-4">
    <div class="card card-2"></div>
  </div>
  <div class="col-xs-4">
    <div class="card card-3"></div>
  </div>
</div>

<div class="row grid grid-9">
  <div class="col-xs-12">
    <h2 class="grid-title">Grid 10</h2>
  </div>
  <div class="col-xs-3">
    <div class="card card-1"></div>
  </div>
  <div class="col-xs-3">
    <div class="card card-2"></div>
  </div>
  <div class="col-xs-3">
    <div class="card card-3"></div>
  </div>
  <div class="col-xs-3">
    <div class="card card-4"></div>
  </div>
</div>
