@import '../../../../styles/_variables';
@import '../../../../styles/_mixins';

.notifications-page {
  
  .notifications-title {
    color: $purple;
    font-size: $font-size-lg;
    font-weight: 300;
    letter-spacing: $letter-spacing-lg;
    margin-bottom: 15px;
  }

  .line {
    margin: 15px 0;
  }

  .btn {
    @include button($white, $purple, $purple);
    margin-bottom: 30px;
    width: 100%;
  }
}
