<div class="row">
  <div class="col-md-6">
    <div class="card">
      <header class="row title">
        <div class="col-xs-12 text-center">
          <h2 class="main-title">Stacked Form</h2>
        </div>
      </header>
      <form class="form-horizontal form-stacked" [formGroup]="formStacked">
        <div class="form-group">
          <label class="form-label col-xs-12" [attr.for]="'email_1'">EMAIL ADDRESS</label>
          <div class="col-xs-12">
            <input type="email" class="form-control" formControlName="email" [id]="'email_1'" placeholder="Email">
          </div>
        </div>
        <div class="form-group">
          <label class="form-label col-xs-12" [attr.for]="'password_1'">PASSWORD</label>
          <div class="col-xs-12">
            <input type="password" class="form-control" formControlName="password" [id]="'password_1'" placeholder="Password">
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12">
            <mat-checkbox disableRipple formControlName="newsletter">Suscribe to newsletter</mat-checkbox>
          </div>
          <div class="col-xs-12">
            <input class="btn btn-form" type="submit" [disabled]="!formStacked.valid" value="SUBMIT">
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card">
      <header class="row title">
        <div class="col-xs-12 text-center">
          <h2 class="main-title">Horizontal Form</h2>
        </div>
      </header>
      <form class="form-horizontal" [formGroup]="formHorizontal">
        <div class="form-group">
          <label class="form-label col-sm-3" [attr.for]="'email_2'">EMAIL ADDRESS</label>
          <div class="col-sm-8">
            <input type="email" class="form-control" formControlName="email" [id]="'email_2'" placeholder="Email">
          </div>
        </div>
        <div class="form-group">
          <label class="form-label col-sm-3" [attr.for]="'password_2'">PASSWORD</label>
          <div class="col-sm-8">
            <input type="password" class="form-control" formControlName="password" [id]="'password_2'" placeholder="Password">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-8">
            <mat-checkbox disableRipple formControlName="remember">Remember me</mat-checkbox>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-8">
            <input class="btn btn-form" type="submit" [disabled]="!formStacked.valid" value="SUBMIT">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="card">
      <header class="row title">
        <div class="col-xs-12 text-center">
          <h2 class="main-title">Register Form</h2>
        </div>
      </header>
      <form class="form-horizontal form-stacked" [formGroup]="formRegister">
        <div class="form-group">
          <label class="form-label col-xs-12" [attr.for]="'email_3'">EMAIL ADDRESS<em>*</em></label>
          <div class="col-xs-12">
            <input type="email" class="form-control" formControlName="email" [id]="'email_3'">
          </div>
        </div>
        <div class="form-group">
          <label class="form-label col-xs-12" [attr.for]="'password_3'">PASSWORD<em>*</em></label>
          <div class="col-xs-12">
            <input type="password" class="form-control" formControlName="password" [id]="'password_3'">
          </div>
        </div>
        <div class="form-group">
          <label class="form-label col-xs-12" [attr.for]="'cpassword'">CONFIRM PASSWORD<em>*</em></label>
          <div class="col-xs-12">
            <input type="password" class="form-control" formControlName="cpassword" [id]="'cpassword'">
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12">
            <span class="help-block"><em>*</em> Required fields</span>
          </div>
          <div class="col-sm-6">
            <mat-checkbox disableRipple formControlName="newsletter">Suscribe to newsletter</mat-checkbox>
          </div>
          <div class="col-sm-6 text-right">
            <input class="btn btn-form" type="submit" [disabled]="!formRegister.valid" value="Register">
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card">
      <header class="row title">
        <div class="col-xs-12 text-center">
          <h2 class="main-title">Login Form</h2>
        </div>
      </header>
      <form class="form-horizontal form-stacked" [formGroup]="formLogin">
        <div class="form-group">
          <label class="form-label col-xs-12" [attr.for]="'email_4'">EMAIL ADDRESS<em>*</em></label>
          <div class="col-xs-12">
            <input type="email" class="form-control" formControlName="email" [id]="'email_4'" placeholder="Email">
          </div>
        </div>
        <div class="form-group">
          <label class="form-label col-xs-12" [attr.for]="'password_4'">PASSWORD<em>*</em></label>
          <div class="col-xs-12">
            <input type="password" class="form-control" formControlName="password" [id]="'password_4'" placeholder="Password">
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12">
            <span class="help-block"><em>*</em> Required fields</span>
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12 text-center">
          <input class="btn btn-form" type="submit" [disabled]="!formLogin.valid" value="Register">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
